---
layout: page
role: home
---
<div>
  <p>Soy David Táboas,<br>
    dedico mi tiempo a ser «<em>ingeniero de software</em>» en productos digitales.</p>
  <ul>
    <li>Puedes contactarme en <strong>me@davidtaboas.com</strong></li>
    <li>A veces escribo en <a href="/blog">mi blog</a> y en <a href="https://medium.com/@davidtaboas">Medium</a>.</li>
    <li>Mira lo que he estado haciendo en <a href="http://linkedin.com/in/davidtaboas">mi LinkedIn</a>.</li>
  </ul>
</div>