<nav id="ntitle">
  <a class="title" href="/"><h1>{{ site.maintitle }}</h1></a>
  <!-- <div class="desc">{{ site.maindesc }}</div> -->  
  <div class="nlinks">
    <ul>
    {% for link in site.menus %}
      <li>
        <a href="{{ link.url }}">
          {% if link.openiconic %}
          <span class="oi" data-glyph="{{ link.openiconic }}"></span>
          {% endif %}
          <span>{{ link.text }}<span>
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
</nav>
