---
title: "Acerca de mí"
layout: page
---
<div>
	<p><strong>Cosas que he hecho</strong></p>
	<div class="gallery">
    <dl class="gallery__item">
      <dt class="gallery__item__image">
        <img src="/images/pwa-wallet.png" alt="PWA Wallet">
      </dt>
      <dd class="gallery__item__definition">
        Freelance Software Enginner · PWA Vales y Cupones
      </dd>
    </dl>
    <dl class="gallery__item">
      <dt class="gallery__item__image">
        <img src="/images/kolbi.png" alt="huawei tv app">
      </dt>
      <dd class="gallery__item__definition">
        Senior Software Enginner · TV App para Huawei
      </dd>
    </dl>
    <dl class="gallery__item">
      <dt class="gallery__item__image">
        <a href="http://www.edificio-virto.com/"><img src="/images/virto.png" alt="VIRTO"></a>
      </dt>
      <dd class="gallery__item__definition">
        Head of Product / Project Leader · Edificio VIRTO
      </dd>
    </dl>
    <dl class="gallery__item">
      <dt class="gallery__item__image">
        <a href="https://vimeo.com/193743333"><img src="/images/delavega.png" alt="De la Vega Business Park"></a>
      </dt>
      <dd class="gallery__item__definition">
        Desarrollador & Project Leader ·  Edificio DeLaVega
      </dd>
    </dl>
	</div>

	<p><strong>Cosas en las que creo</strong></p>
	<ul>
		<li>En la pasión por hacer cosas.</li>
		<li>En la gente que arde de Kerouac.</li>
		<li>En el absurdo de Camus.</li>
		<li>En Dostoyevsky.</li>
    <li>En la Historia.</li>
    <li>En la montaña y la playa.</li>
    <li>En que nadie nace aprendido.</li>
    <li>En la humildad.</li>
    <li>En la bicicleta por encima de todo para moverse en ciudad.</li>
    <li>En pensar en solucionar a largo plazo.</li>
    <li>En de dónde vengo.</li>
    <li>En que es mejor tomar una decisión aunque sea errónea a no decidir nada.</li>
    <li>En los equipos horizontales.</li>
	</ul>

</div>