---
layout: page
title: Blog
---

<div class="archives">
  <div>
    <ul>
    {% for post in site.posts %}
      <li>
        <a {% if post.en %}class="en"{% endif %}{% if post.serif %}class="serif"{% endif %} href="{{ post.url }}">
          <span>{{ post.title }}</span>
          <time datetime='{{ post.date | date: "%Y-%m-%d" }}'>{{ post.date | date: "%-d %B %Y" }}</time>
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
