@import url('../fonts/Fira/fira.css');
@import url('../fonts/charissil/charissil.css');


body,input {
    font: 11pt/1.5 "Fira Sans", "Droid Sans", "Open Sans", Verdana, arial, sans-serif;
    background: #fff;
}
body {
    margin: 1rem;
}
@media screen and (min-width:800px) {
	body {
	  /* margin: 100px 0 60px; */
        font-size: 16pt;
        text-align: center;
	}
}
a {
    text-decoration: none;
    color: #268bd2;
    cursor: pointer;
    outline:0;
    transition: all .2s;
    -webkit-transition: all .2s;
}
a:hover {
    color: #333 !important;
}
article a:hover { text-decoration: underline; }

pre, code {
    background-color: #FAF8F2;
    color: #777;
    border-radius: 2px;
    font-size: 90%;
}

em em {
    font-style: normal;
}

code {
    padding: 0 5px;
    font-size: 90%;
    hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens:  none;
    -o-hyphens: none;
    -ms-hyphens: none;
}

pre code {
   box-shadow: 0 0;
   padding: 0;
}
hr {
   border-top: 1px solid #DEDEDC;
   border-bottom: 0;
   border-left: 0;
   border-right: 0;
   display: block;
   margin: 20px auto;
   width: 20%;
}
hr.wide {
   width: 100%;
   max-width: 750px;
   border-width: 2px;
}
hr.menu {
   margin: 0 auto;
}
ul {
    padding-left: 25px;
    margin: 0;
}
@media screen and (min-width:1070px) {
   hr.menu {
      margin: 20px 0 20px auto;
   }
}
@media screen and (min-width:800px) {
   .mobileon {
     display: none !important;
   }
}
@media screen and (max-width:799px) {
   .mobileoff {
     display: none !important;
   }
}
#post hr {
   margin: 50px auto;
}
.label {
   font-size: 80%;
   padding: 2px 8px;
   background-color: #ddd;
   font-weight: bold;
   color: #fff;
   border-radius: 3px;
}
.label.black {
   background-color: #333;
}
.label.grey {
   background-color: #bbb;
}

@media screen and (min-width:1070px) {
    section.article {
        /* display: inline-block; */
    }
}

.archives h2 {
	font-weight: bold;
}
.archives p {
	padding: 20px;
	text-align: left;
}
.archives a.rss {
	display: inline-block;
	background-color: #D56C3B;
	vertical-align: middle;
	border-radius: 2px;
	padding: 0 8px;
	color: #fff;
	font-size: 60%;
}
.archives .desc {
    font-size: 110%;
    margin: 0 0 10px;
    text-align: left;
}
.archives div ul {
	margin: 0;
	padding: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.archives div li {
	list-style: none;
	margin: 10px 0;
	padding: 0;
}
.archives div li > a {
    display: inline-block;
    vertical-align: bottom;
    padding: 8px 0;
    text-align: left;
    font-size: 150%;
    font-weight: bold;
    color: #333;
    display: flex;
    flex-direction: column;
}
.archives div li > a:hover {
	text-decoration: none;
  color: #000;
}
.archives a time {
    color: rgba(0, 0, 0, .6);
    font-weight:normal;
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 60%;
    letter-spacing: 2px;
}
@media screen and (min-width:600px) {
	.archives a time {
	    display: inline-block;
	    /* margin-left:10px; */
	    /* padding-top: 6px; */
	}
}

/* Ntitle (Navigation Title) */
#ntitle {
    max-width: 750px;
    margin: 0 auto;
    font-size: 85%;
    width: calc(100% - 50px);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-flow: row wrap;
    background-color: rgba(255, 255, 255, .92);
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); */
    padding: 0 25px;
    text-align: left;
    z-index: 2;
    animation: slidedown .5s 1;
    transition: max-height .8s, bottom .8s;
      -webkit-transition: max-height .8s, bottom .8s;
}
#ntitle .title {
    line-height: 50px;
}
#ntitle > div {
    /* margin: 0 auto; */
    padding: 0;
}
#ntitle h1 {
    margin: 0 10px 0 0;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-size: 120%;
    transition: all .2s;
      -webkit-transition: all .2s;
}
#ntitle h1:hover {
    opacity: .75;
}
#ntitle h1 span {
    text-transform: none;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
    padding-left: 2px;
}
#ntitle .desc {
    font-style: italic;
    font-size: 95%;
    color: rgba(0, 0, 0, 0.6);
    line-height: 50px;
    max-width: 245px;
    vertical-align: top;
    padding: 0;
}
@media screen and (max-width: 480px) {
    #ntitle .desc {
       display: none;
    }
}

#ntitle .nlinks > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#ntitle .nlinks > ul li {
    display: inline;
    margin-right: 20px;
}
#ntitle .nlinks > ul li:last-child {
    margin: 0;
}
#ntitle .nlinks a span {
    display: inline-block;
    max-width: 75%;
    vertical-align: middle;
}
#ntitle .nlinks a .oi {
  margin-right: 5px;
  color: #268bd2;
  width: 20px;
  height: 35px;
  line-height: 40px;
  display: inline-block;
  background-color: #FFF;
  text-align: center;
}

#ntitle .button {
    font-size: 100%;
    width: 35px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 999em;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    display: inline-block;
}
#ntitle .button:hover {
    border-color: rgba(0, 0, 0, .6);
}
#ntitle .button.menumarker {
    float: right;
    margin-top: 6px;
    width: auto;
    padding: 0 16px;
    overflow: hidden;
    color: #268bd2;
    border-color: #268bd2;
}
#ntitle.expanded .button.menumarker {
    transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
}
#ntitle .button.rss {
    float: right;
    margin-top: 6px;
    margin-right: 5px;
}
@media screen and (max-width:799px) {
   #ntitle {
      font-size: 100%;
   }
}

/* article */
section.article {
    margin: 0 auto;
    padding: 4rem 0 1rem;
    vertical-align: top;
    text-align: left;

}
article {
    margin: 0 auto !important;
    max-width: 750px;
    padding: 0 25px !important;
    color: rgba(0, 0, 0, .7);
}
.invitation {
    font-style: italic;
    color: rgba(0, 0, 0, 0.8);
    text-align: left;
    padding: 30px 25px;
    border-top: 1px solid rgba(0, 0, 0, .05);
    background-color: #fafafa;
}
.invitation > div {
    max-width: 750px;
    margin: 0 auto;
}
.top  {
    display: block;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    margin: 0 auto 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 70%;
    font-weight: 500;
    animation: slideup .5s 1;
}
@media screen and (min-width:1090px) {
    .top {
      /* top: 0;
      position: fixed;
      left: 0px;
      right: 0px;
      z-index: 2; */
      line-height: 50px;
      width: 200px;
      margin: 0 auto;
    }
}
article h1 {
    color: #333332;
    font-size: 220%;
    margin: 0 5px 35px 0;
    line-height: 1.1;
}
.centered article h1,
.centered #post {
     text-align: center;
}
article h1 a:hover {
    text-decoration:underline;
}
article h2 {
    font-size: 170%;
    text-align: left;
}
article h3 {
    font-size: 150%;
    text-align: left;
}
@media screen and (min-width:750px) {
    article h1 {
        font-size: 345%;
    }
    article h2 {
        font-size: 190%;
    }
    article h3 {
        font-size: 170%;
    }
}

pre:hover {
    overflow-x: auto;
}

pre {
    overflow-x: hidden;
    padding: 30px;
}

#post {
    color: rgba(0, 0, 0, .7);
    font-size: 120%;
    line-height: 1.5;
    letter-spacing: 0.01rem;
    text-rendering: optimizelegibility;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens:  auto;
    -ms-hyphens: auto;
}
.centered #post {
    text-align: center;
}
article #post img,
article #post iframe {
    max-width:100%;
}
#post p,
#post ul,
#post blockquote,
.article.page p {
    font-family: "Charis SIL", Bitstream Charter, Georgia, "Fira Sans", serif;
}
#post p {
    margin-bottom: 30px;
}
#post a {
    color: rgba(0, 0, 0, .7);
    text-decoration: underline;
}
#post a img {
    border: 0 none;
}
.align,
.align.center {
    display: block;
    margin: 0 auto;
}
.align.center {
    margin: 0 auto;
}
.align.inline {
    display: inline-block;
    margin: 0 -5px 0 0;
}

@media screen and (min-width:700px) {
    .align.right {
        float: right;
        margin: 10px 0 10px 30px;
    }
    .align.left {
        float: left;
        margin: 10px 30px 10px 0;
    }
}

a.bouton {
    border: 1px solid currentcolor;
    box-shadow: 0 2px rgba(0, 0, 0, .2);
    padding: 5px 20px;
    margin: 0 0 5px;
    display: inline-block;
    text-indent: 0;
    text-decoration: none;
    border-radius: 2em;
    font-weight: 400;
    font-style: italic;
    outline: 0;    
}
a.bouton:hover {
    background-color: #4E43C8;
    border-color: #4e43c8;
    color: #ddd;
    text-decoration: none;
}
a.bouton:active {
    text-decoration: none;
    box-shadow: 0 1px rgba(0, 0, 0, .3) inset;
    color: rgba(255, 255, 255, .4);
}
blockquote {
    font-style: italic;
    margin: 22px 0;
    font-weight: 300;
    font-size: 120%;
    color: rgba(0, 0, 0, .9);
    text-align: center;
}
@media screen and (min-width:920px) {
    blockquote {
        margin: 22px -80px;
    }
}
.page {
	text-align: left;
}
.page p {
    font-size: 125%;
}
.page .en {
	color: #777;
}


/* Readnext footer */

.readnext {
    padding: 60px 25px;
    clear: both;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    text-align: left;
}
.readnext a {
    display: block;
    margin: 0 auto;
    max-width: 750px;
    padding: 0;
}
.readnext:hover a {
    opacity: 1;
}
.readnext a > span {
    display: block;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 70%;
    letter-spacing: 3px;
}
.readnext a > h1 {
    line-height: 1.1;
    margin: 5px 0 15px;
    font-size: 180%;
    font-weight: bold;
}
.readnext a:hover > h1 {
    opacity: 1;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.gallery__item {
    flex: auto; 
    width: calc(100% / 3);
    flex-grow: 0;
}

.gallery__item__image {
    width: 100%; 
}

.gallery__item__image a:hover {
    cursor: pointer;
}

.gallery__item__image img {
    width: 100%; 
    height: auto;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.gallery__item__image img:hover {
    opacity: 1;
}


.gallery__item__definition {
    font-size: 70%;
    margin: 0;
    font-style: italic;
    text-align: center;
}
/* Fin commentaires */

/* animations */
@keyframes slideup {
    0% { transform: translate(0, 60px); opacity: 0; }
    100% { transform: translate(0, 0); opacity: 1; }
}
@keyframes slidedown {
    0% { transform: translate(0, -60px); opacity: 0; }
    100% { transform: translate(0, 0); opacity: 1; }
}
