<!DOCTYPE html>
<html lang="ES-es">

<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

  <meta charset="UTF-8">
  <title>
    {% if page.title %}
    {{ page.title | replace:'&nbsp;',' ' | escape }} - {{ site.title }}
    {% else %}
    {{ site.title }}
    {% endif %}
  </title>

  {% if page.description %}
  <meta name="description" content="{{ page.description | escape }}">
  {% else %}
  <meta name="description" content="{{ site.description | escape }}">
  {% endif %}

  <meta name="author" content="{{ site.author }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  {% if page.styles %}
  <style type="text/css" media="screen">
    {
        {
        page.styles
      }
    }
  </style>
  {% endif %}
</head>

<body {% if page.bodyclass %} class="{{ page.bodyclass }}" {% endif %}>

  {% include tete.html %}

  {{ content }}

</body>

</html>